@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Banzhow</title>

    <!-- font-awesome -->
    <link href="~/banzhow/css/font-awesome.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="~/banzhow/js/html5.js"></script>
    <![endif]-->
    <!--[if IE 7]>
    <link href="~/banzhow/css/font-awesome-ie7.css" rel="stylesheet">
    <![endif]-->
    <!-- Bootstrap core CSS -->
    <link href="~/banzhow/css/bootstrap.css" rel="stylesheet">

    <!-- custom CSS -->
    <link href="~/banzhow/css/style.css" rel="stylesheet">
    <!--[if lte IE 8]>
    <link href="~/banzhow/css/ie8.css" rel="stylesheet">
    <![endif]-->
    <!--[if lte IE 7]>
    <link href="~/banzhow/css/ie7.css" rel="stylesheet">
    <![endif]-->
    <!-- JavaScript -->
    <script src="~/banzhow/js/jquery-1.10.2.js"></script>
    <script src="~/banzhow/js/bootstrap.js"></script>
    <script src="~/banzhow/js/plugins.js"></script>
    <!--[if lte IE 7]>
    <script src="~/banzhow/js/boxsizing/jquery.boxsizing.js"></script>
    <![endif]-->
    <script src="~/banzhow/js/banzhow.js"></script>
</head>

<body>

    <nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">Banzhow</a>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="index.html">Home</a></li>
                    <li class="active"><a href="services.html">Services</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Portfolio <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="portfolio-1-col.html">1 Column Portfolio</a></li>
                            <li><a href="portfolio-2-col.html">2 Column Portfolio</a></li>
                            <li><a href="portfolio-3-col.html">3 Column Portfolio</a></li>
                            <li><a href="portfolio-item.html">Single Portfolio Item</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Blog <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="blog-home-1.html">Blog Home</a></li>
                            <li><a href="blog-post.html">Blog Post</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">Other Pages <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="full-width.html">Full Width Page</a></li>
                            <li><a href="sidebar.html">Sidebar Page</a></li>
                            <li><a href="faq.html">FAQ</a></li>
                            <li><a href="404.html">404</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="section-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Services</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container container-int">
        <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">Services</li>
        </ol>

        <div class="row">
            <div class="col-lg-12">
                <blockquote>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
                </blockquote>
                <p>Praesent convallis a risus eget cursus...</p>
            </div>
        </div>

        <div class="row pricing-table">
            <!-- 4 Columns -->
            <!-- Basic -->
            <div class="col-sm-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading"><strong>Basic</strong></div>
                    <div class="panel-body"><h3 class="panel-title price">$9<span class="price-cents">99</span><span class="price-month">mo.</span></h3></div>
                    <ul class="list-group">
                        <li class="list-group-item">5 Projects</li>
                        <li class="list-group-item">5 GB of Storage</li>
                        <li class="list-group-item">Up to 100 Users</li>
                        <li class="list-group-item">10 GB Bandwidth</li>
                        <li class="list-group-item">Security Suite</li>
                        <li class="list-group-item"><a class="btn btn-primary">Sign Up Now!</a></li>
                    </ul>
                </div>
            </div>
            <!-- Plus -->
            <div class="col-sm-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading"><strong>Plus</strong></div>
                    <div class="panel-body"><h3 class="panel-title price">$19<span class="price-cents">99</span><span class="price-month">mo.</span></h3></div>
                    <ul class="list-group">
                        <li class="list-group-item">10 Projects</li>
                        <li class="list-group-item">10 GB of Storage</li>
                        <li class="list-group-item">Up to 250 Users</li>
                        <li class="list-group-item">25 GB Bandwidth</li>
                        <li class="list-group-item">Security Suite</li>
                        <li class="list-group-item"><a class="btn btn-primary">Sign Up Now!</a></li>
                    </ul>
                </div>
            </div>
            <!-- Premium -->
            <div class="col-sm-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading"><strong>Premium <span class="label label-default">Recommended</span></strong></div>
                    <div class="panel-body"><h3 class="panel-title price">$29<span class="price-cents">99</span><span class="price-month">mo.</span></h3></div>
                    <ul class="list-group">
                        <li class="list-group-item">Unlimited</li>
                        <li class="list-group-item">50 GB of Storage</li>
                        <li class="list-group-item">Up to 1000 Users</li>
                        <li class="list-group-item">100 GB Bandwidth</li>
                        <li class="list-group-item">Security Suite</li>
                        <li class="list-group-item"><a class="btn btn-primary">Sign Up Now!</a></li>
                    </ul>
                </div>
            </div>
            <!-- Ultimate -->
            <div class="col-sm-3">
                <div class="panel panel-default text-center">
                    <div class="panel-heading"><strong>Ultimate</strong></div>
                    <div class="panel-body"><h3 class="panel-title price">$49<span class="price-cents">99</span><span class="price-month">mo.</span></h3></div>
                    <ul class="list-group">
                        <li class="list-group-item">Unlimited</li>
                        <li class="list-group-item">150 GB of Storage</li>
                        <li class="list-group-item">Unlimited</li>
                        <li class="list-group-item">500 GB Bandwidth</li>
                        <li class="list-group-item">Security Suite</li>
                        <li class="list-group-item"><a class="btn btn-primary">Sign Up Now!</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <!-- Footer content -->
                <!-- Contact, Social, Tweets, Newsletter -->
            </div>
        </div>
    </footer>

    <div class="footer-after">
        <div class="container">
            <div class="row">
                <p class="col-md-10">©2014 All rights reserved. Designed by John Doe.</p>
                <p class="col-md-2 legal"><a href="#" rel="nofollow">Legal Notice</a></p>
            </div>
        </div>
    </div>

    <!-- Switcher -->
    <script src="~/banzhow/js/switcher/switcher.js"></script>
    <link href="~/banzhow/js/switcher/switcher.css" rel="stylesheet">

    <div id="switcher-options">
        <a href="#" class="switcher-btn"><i class="fa fa-cog"></i></a>
        <small>Switch Theme Colour</small>
        <ul class="list-unstyled list-inline">
            <li><a href="#" class="theme-colour default" data-name="default"></a></li>
            <li><a href="#" class="theme-colour blue" data-name="blue"></a></li>
            <li><a href="#" class="theme-colour violet" data-name="violet"></a></li>
            <li><a href="#" class="theme-colour red" data-name="red"></a></li>
            <li><a href="#" class="theme-colour orange" data-name="orange"></a></li>
        </ul>
    </div>
</body>
</html>
